---
layout: default
title: Projects - FB Design
---
<script src="/static/js/project-home-main.js"></script>
<script>
    var posts = [
        {% for project in site.projects %}
            {
                "title": "{{ project.title }}",
                "id": "{{ project.url }}",
                "tags": [
                        {% for tag in project.tags %}
                            "{{ tag }}",
                        {% unless forloop.last %}{% endunless %}
                        {% endfor %}
                    ]
            }
        {% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];
    console.log(posts);
</script>
<div class="projects">
    <h1>Projects</h1>
    <div class="form-group form-group-inline">
        <label for="tag-selection">Type: </label>
        <select class="form-control" id="tag-selection">
             <option value="All">All</option>
        </select>
  </div>
    {% for project in site.projects %}
        <div class="project-tile"  
             id="{{ project.url }}">
            <img class="main-image" src="{{ project.image }}">
             <!--<div class="title">
                 <h1>{{ project.title }}</h1>
                 <h2>{{ project.description }}</h2>-->
             </div>
        </div>
{% endfor %}
<style type="text/css">
    nav a {
        color: #202020;
    }
    nav a:hover {
        color: #202020;
        text-decoration: none;
    }
    .line {
        background-color: #202020;
    }
    nav {background-color: #FCFCFC; }
</style>
</div>

