---
layout: default
title: FB Design
---
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script src="/static/js/home-main.js"></script>

<div id="project-carousel">

{% for project in site.projects %}

    {% if project.show_on_landing == true %}
        
        <div class="project-slide"  
             id="{{ project.url }}">
            <img class="image-slide" src="{{ project.image }}">
        </div>
    {% endif %}
{% endfor %}
</div>

{% for project in site.projects %}
    {% if project.show_on_landing == true %}
        <div class="image-title" id="title-{{ project.url }}">
            <div class="image-title-text">
            <h1 class="font-project-title">{{ project.title }}</h1>
            </div>
        </div>
    {% endif %}
{% endfor %}


<style type="text/css">
    body {
        background-color: #202020;
    }
    nav { text-shadow: 0px 1px 20px rgba(0,0,0,0.6); }
</style>